:root {
  --clr-primary: #2c648c;
  --clr-main-bcg: #fff;
  --clr-main-text: #282c35;
}

.light-theme {
  --clr-primary: #2c648c;
  --clr-main-bcg: #fff;
  --clr-main-text: #282c35;
}

.dark-theme {
  --clr-primary: #6db8ed;
  --clr-main-bcg: #282c35;
  --clr-main-text: #fff;
}

body {
  color: var(--clr-main-text);
  background: var(--clr-main-bcg);
}

.nav-center {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
  color: #49a6e9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  text-transform: capitalize;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 24px;
  padding: 0 5px;
  border-radius: 30px;
  background-color: #0f1114;
  transition: all 0.2s ease;
}
.theme-toggle span {
  display: grid;
  place-items: center;
}
.theme-icon {
  color: #ffff00;
}
.theme-switch {
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #49a6e9;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.switch-toggle {
  right: 50%;
}

.articles {
  padding: 5rem 0;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}
.post {
  margin-bottom: 3rem;
  border-bottom: 2px dotted var(--clr-main-text);
}

.post h2 {
  color: var(--clr-primary);
  margin-bottom: 0.7rem;
}
.post-info {
  font-style: italic;
}
.post-info span {
  margin-right: 0.5rem;
}
